.dashboard-layout {
  display: flex;
  height: 100vh;
  background-color: #f1f5f9;
}

/* Sidebar */
.sidebar {
  width: 250px;
  background: linear-gradient(180deg, #0f172a, #1e293b);
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar h2 {
  margin-bottom: 30px;
  text-align: center;
  color: white;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px;
  border-radius: 6px;
  transition: 0.3s;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
  background-color: #3b82f6;
}

.logout-btn {
  background-color: #ef4444;
  padding: 10px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
}

/* Main Section */
.main-section {
  flex: 1;
  padding: 30px;
  overflow-y: auto;
}