
.leave-container {
  min-height: 100vh;
  padding: 50px 20px;
  background: #f1f5f9;
  text-align: center;
}


.leave-container h2 {
  margin-bottom: 35px;
  color: #1e3a8a;
  font-size: 26px;
}


.leave-card {
  max-width: 650px;
  margin: 0 auto;
  background: #ffffff;
  padding: 30px 35px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  text-align: left;
}


.leave-type {
  font-size: 20px;
  font-weight: 600;
  color: #2563eb;
  margin-bottom: 20px;
}


.leave-details {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 25px;
}


.leave-details div {
  flex: 1;
}

.leave-details strong {
  display: block;
  margin-bottom: 6px;
  color: #374151;
  font-size: 14px;
}

.leave-details p {
  margin: 0;
  color: #6b7280;
  font-size: 15px;
}


.leave-status {
  display: inline-block;
  padding: 6px 16px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
  float: right;
}


.pending {
  background: #facc15;
  color: #000;
}

.approved {
  background: #22c55e;
  color: white;
}

.rejected {
  background: #ef4444;
  color: white;
}
